{% load static %}
<footer>
			<div class="footer-row">
				<div class="footer-col">
					<a href="#" class="logo footer-logo">
						<h3>Hydro <span>E</span>-shop</h3>
					</a>
					<p class="statement">Hydro E-shop is one of the leading online shopping platform in Africa with over 1 million customers and over 1 thousand vendors
					using it. We offers affordable products with friendly customer care and same day delivery to people in Nairobi</p>
				</div>
				<div class="footer-col">
					<h3>Head Office</h3>
					<p>hydro tower</p>
					<p>40th Mezzanine</p>
					<p>tumbuktu street</p>
					<p>north of sahara</p>
					<p>south of limpopo</p>
				</div>
				<div class="footer-col">
					<h3>Quick Links</h3>
					<ul>
						<li><a href="#">Our Services</a></li>
						<li><a href="#">Terms and Conditions</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Payment Modes</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h3>Contacts</h3>
					<ul>
						<li><a href="#"><i class="fab fa-facebook"></i> <span>Hydro E-store</span></a></li>
						<li><a href="#"><i class="fab fa-twitter"></i> <span>@Hydro E-store</span></a></li>
						<li><a href="#"><i class="fab fa-instagram"></i> <span>Hydro E-store</span></a></li>
						<li><a href="#"><i class="fab fa-google-plus"></i> <span>Hydro E-store</span></a></li>
						<li><a href="#"><i class="fa fa-envelope"></i><span id="email-f">hydroestore@whocares.com</span></a></li>
					</ul>
				</div>
			</div>
		</footer>